{% extends 'base.html ' %}

{% block content %}

<div class="uputstvo">
    <p>Zbog razloga što naš plejer na veb sajtu nema uvek prevod za naše zemlje potrebno je implementirati 
        jedan chrome dodatak koji nudi veliki izbor prevoda za bilo koji jezik, nećete uvek naleteti
    na film ili seriju koja nema prevod, ali ako se desi evo jedne <b>PRELAKE</b> solucije, samo ispratite korake!</p>

    <img src="/static/images/korak1.png">
    <p>Otvorite Chrome pretraživač i idite na zadatu lokaciju <a href="https://chrome.google.com/webstore/category/extensions">ovde</a>!</p>
    <img src="/static/images/korak2.png">
    <p>Potom pretržite dodatak po imenu <b>SUBSTITAL</b> i pritisnite dugme Enter za pretragu!</p>
    <img src="/static/images/korak3.png">
    <p>Odaberite ovaj dodatak, obično bude prvi u pretrazi!</p>

    <p>Potom dodajte dodatak u vaš veb pretraživač prateći sledeće slike!</p>
    <img src="/static/images/korak4.png">
    <img src="/static/images/korak5.png">
    
    <p>Zatim zakačite/pinujte vaš dodatak da bi ga istakli radi lakšeg ubacivanja prevoda!</p>
    <img src="/static/images/korak6.png">
    <img src="/static/images/korak7.png">
    <img src="/static/images/korak8.png">

    <p>Sada je potrebno da odaberete film koji želite gledati, ja sam izabrao film koji trenutno nema
        prevod na neki naš jezik da bih demonstrirao kako dodatak funkcioniše!
    </p>

    <img src="/static/images/korak9.png">
    <img src="/static/images/korak10.png">
    <img src="/static/images/korak11.png">

    <p>Ukoliko ne postoji prevod na naš jezik, potrebno je da kliknete na dodatak koji ste malopre dodali!</p>
    <img src="/static/images/korak12.png">

    <p>Kada ste kliknuli na njega, iskoči će prozor dodatka koji registruje video plejer, klikni te na tu ponuđenu opciju!
    </p>

    <img src="/static/images/korak13.png">

    <p>Sada je potrebno da izaberete jezik za koji želite prevod, ja sam izabrao srpski u ovom slučaju, kliknite na plavo
        dugme i ukucajte željeni jezik, a u desnom polju (pošto ja trenutno gledam film Vrisak 6 odnosno Scream VI) 
        ja sam pretražio 'Scream VI', ukoliko gledate neki drugi film upišite taj film i potom kliknite Enter!
    </p>

    <img src="/static/images/korak14.png">

    <p>Kada je sve to završeno izaćiće opadajući meni sa listom prevoda za taj film, vi birate koji želite
        jer je svaki prevod za taj film samo sa različitih izvora, ja ću u ovom slučaju izabrati prvi!
    </p>

    <img src="/static/images/korak15.png">

    <p>I sada možete uživati u filmu sa prevodom!</p><br>
    <p><b>Napomena, ukoliko pretražujete prevod za seriju, najbolje je pretraživati po imenu serije pa napisati broj
        sezone a zatim broj epizode, na primer gledate 'Igra Prestola' pretraga bi bila: <span class="crveno">GOT S1E4</span>, što znači (Game of Thrones, sezona 1 epizoda 4)!
    </b></p>









    


</div>


{% endblock %}