{% extends 'base.html' %}

{% block content %}

<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a class="closebtn" onclick="closeNav()">&times;</a>
  
    <!-- Overlay content -->
    <div class="overlay-content" id="overlay-content">
    
    </div>
  
  </div>


    <h1 class="naslovv" align="center">{{ title }}</h1>
    <div class="filmWithStats">    
        <iframe align="center" id="iframe" src="https://vidsrc.to/embed/tv/{{id}}"  
            align="center" frameborder="0" controls allowfullscreen></iframe>
       
        <div class="opisTrejler">
            <p class="opis" lang="sr">Opis serije: <br><br>{{overview}}</p>
            <div class="trejler" id="trailer">Pogledaj trejler</div>
        </div>
    </div>


<div class="komentari">
<form id="commentForm">
    <h2>Ostavite komentar:</h2>
    <textarea name="sadrzajKomentara" id="sadrzajKomentara" cols="30" rows="10"></textarea>
    <button class="btn-submit">
        <span type="submit">Postavi</span>
    </button>


    {% for komentar in komentari %}
    <div class="komentar">
        <p class="korisnickoime">{{ komentar['korisnickoime'] }}:</p>
        <p>{{ komentar['sadrzaj'] }}</p>
    </div>
{% endfor %}
</form>
</div>




    <script>
        document.getElementById('commentForm').addEventListener('submit', function(event) {
            event.preventDefault();
    
            var komentar = document.getElementById('sadrzajKomentara').value;
            var filmId = '{{ id }}';
    
            fetch('/add_comment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ komentar: komentar, movieId: filmId }),
            })
            .then(function(response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Greška prilikom slanja komentara.');
                }
            })
            .then(function(data) {
                alert('KOMENTAR JE POSLAT NA UVID ADMINISTRATORIMA, MOLIM DA SACEKATE ODOBRENJE!');
                document.getElementById('commentForm').reset();
            })
            .catch(function(error) {
                alert(error.message);
            });
        });

        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

            
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }

        const overlayContent = document.querySelector('#overlay-content');

document.querySelector('#trailer').addEventListener('click', () => {
    filmId = '{{id}}';
    openNav();
    fetch(BASE_URL + '/tv/' + filmId + '/videos?' + API_KEY)
        .then(res => res.json())
        .then(data => {
            if (data.results.length > 0) {
                const videos = data.results;
                const trailers = videos.filter(item => item.type === 'Trailer');
                var embed = [];
                trailers.forEach(video => {
                    let { name, key, site } = video;
                    if (site == 'YouTube') {
                        embed.push(`
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/${key}" title="${name}" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen></iframe>
                        `);
                    }
                });

                overlayContent.innerHTML = embed.join('');
            } else {
                overlayContent.innerHTML = 'TRENUTNO NEMA TREJLERA ZA OVAJ SADRZAJ';
            }
        });
});


    </script>

{% endblock %}